.container-fluid{
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
}

.card{
    padding: 15px;
    border: none;
}

.card-title{
    height: 3rem;
    overflow: hidden;
}
.card-text{
    height: 6rem;
    overflow: hidden;
}

#cart{
    cursor: pointer;
    position: relative;
    font-size: 40px;
    float: right;
    margin-left: 50px;
}

#listCart{
    position: absolute;
    width: 400px;
    height: 1500px;
    background-color: rgb(255, 255, 255);
    opacity: 0;
    visibility: hidden;
}


.show{
    opacity: 1 !important;
    visibility: visible !important;
}