<th>
</th>
<th style="width: 15%">
        <label for="myfile">Select a file:</label>
        <input style="width: 100%;" type="file" form="formSubmit" id="myfile" name="avatar">
</th>
<th>
    <input type="text" form="formSubmit" name="name">
</th>
<th>
    <input type="text" form="formSubmit" name="age">
</th>
<th>
    <input type="text" form="formSubmit" name="work">
</th>
